$color-1: #1a91d9;
$color-2: #e7128b;
$color-3: #71EEB8;

@mixin center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

@mixin text-shadow ($color) {
	text-shadow: -1px -1px 0 $color, 1px -1px 0 $color, -1px 1px 0 $color, 1px 1px 0 $color;
}

h1 {
	font-family: 'Bangers', cursive;
	margin-bottom: 0;
	padding-bottom: 1em;
	font-weight: 100;
}

body {
	margin: 0!important;
}

html {
	font-family: 'Roboto', sans-serif;
}

.title {
	@include center;
	background: $color-3;
	margin-bottom: 0;
	padding-bottom: 1em;

	p {
		padding-right: 9em;
		padding-left: 9em;	
	}
}

.section {
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-template-rows: 2fr 1fr;

	h1 {
		grid-row: 1;
		width: 100%;
		text-align: center;
		font-size: 72pt;
	}
	
	p {
		padding-bottom: 1em;
		padding-top: 1em;
		margin-bottom: 0;
		padding-left: 15%;
		padding-right: 15%;
		grid-row: 2;
	}

	&:nth-child(odd) {
		p {
			background: rgba( $color-1, .75);
		}
		h1 {
			@include text-shadow($color-1);
		}

	}

	&:nth-child(even) {
		p {
			background: rgba($color-2, .75);
		}

		h1 {
			@include text-shadow($color-2);
		}
	}
}

@media screen and (max-width: 1280px) {
	.section {
		h1 {
			font-size: 48pt;
		}
	}
}

@media screen and (max-width: 690px) {
	.section {
		h1 {
			font-size: 32pt;
			vertical-align: middle;
		}
		p {
			padding-left: 0.5em;
			padding-right: 0.5em;
		}
	}
}